/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212; /* Dark background */
    color: white;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

/* Header Section */
header {
    background-color: #1e1e1e;
    padding: 20px;
}

/* Profile Section */
.profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-info {
    flex: 1;
    text-align: left;
}

.profile-info h1 {
    font-size: 3rem;
    color: #4CAF50;
    margin: 0;
}

.profile-info p {
    font-size: 1.2rem;
    margin: 5px 0;
}

.profile-pic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #4CAF50;
}

/* About Section */
#about {
    margin-top: 40px;
    text-align: center;
}

#about h2 {
    font-size: 2rem;
    color: #4CAF50;
    margin-bottom: 20px;
}

#about p {
    font-size: 1.2rem;
    color: #ccc;
    max-width: 800px;
    margin: auto;
}

/* Skillset Section */
#skills {
    margin-top: 40px;
}

#skills h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #4CAF50;
    text-align: center;
}

.skills-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.skill {
    background-color: #2a2a2a;
    padding: 20px;
    width: 200px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.skill h3 {
    font-size: 1.5rem;
    color: #4CAF50;
}

.skill p {
    font-size: 1rem;
    color: #ccc;
}

.skill-icon {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}
